body {
    display: flex;
    background-color: #f8f9fa;
    font-family: "Inter", sans-serif;
    margin: 0;
    height: 100vh;
}

.sidebar {
    width: 330px;
    height: 100vh;
    overflow-y: auto;
    background: #fff;
    border-right: 1px solid #dee2e6;
}

.content {
    flex: 1;
    overflow-y: auto;
    background-color: #fdfdfd;
}

.sub-section {
    border: none;
    background: none;
    color: #0d6efd;
    font-weight: 500;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
}

ul li {
    list-style: none;
    margin-left: 10px;
    cursor: pointer;
    color: #495057;
    padding: 2px 0;
}

ul li:hover {
    color: #0d6efd;
    text-decoration: underline;
}

.markdown-body {
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.6;
}

.badge {
    font-size: 0.75rem;
}

#searchInput {
    font-size: 0.9rem;
}

.accordion-button:not(.collapsed) {
    background-color: #e7f1ff;
    color: #0d6efd;
}

.accordion-item {
    border: none;
}

button.dropdown-toggle {
    font-size: 0.95rem;
    margin-top: 5px;
    color: #0d6efd;
}